@charset "utf-8";
#my-setting{
	background:#f4f4f4;;
}
/* Start head-portrait*/
#head-portrait{
	width:100%;
	height:12.5rem;
	overflow:hidden;
	position:relative;
}
#head-portrait .head-img-bg{
	width:100%;
	height:12.5rem;
	-webkit-filter:blur(1px); /* Chrome, Safari, Opera */
    filter:blur(1px);
}
#head-portrait #head-img{
	width:12rem;
	height:8.5rem;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-4rem;
	margin-left:-6rem;
	text-align:center;
	overflow:hidden;
}
#head-portrait #head-img .head-img{
	width:6.3rem;
	height:6.3rem;
	-webkit-border-radius:6.3rem;
	-moz-border-radius:6.3rem;
	-ms-border-radius:6.3rem;
	border-radius:6.3rem;
	border:2px solid #2ecc71;
}
#head-portrait #head-img h1{
	font-size:1.8rem;
	color:#FFF;
	line-height:1rem;
}
/* End head-portrait*/
/* Start my-content */
#my-content{
	margin-top:1.7rem;
	margin-bottom:5rem;
}
#my-content ul li{
	width:100%;
	height:4.3rem;
	line-height:4.3rem;
	background:#FFF;
	border-bottom:1px solid #eceef0;
	text-indent:4.3rem;
	font-size:1.5rem;
	color:#000;
}
#my-content ul li>a{
	width:100%;
	height:4.3rem;
	display:block;
	color:#000;
	background:url(../images/my/enter_arrow.png) 98% center no-repeat;
	background-size:0.7rem;
}
#my-content ul .personaldata{
	background:#FFF url(../images/my/personal_data.png) no-repeat 1rem center;
	background-size:2.4rem;
}
#my-content ul .friends{
	background:#FFF url(../images/my/friends.png) no-repeat 1rem center;
	background-size:2.4rem 1.9rem;
}
#my-content ul .mypet{
	background:#FFF url(../images/my/mypet.png) no-repeat 1rem center;
	background-size:2.4rem;
}
#my-content ul .mycollection{
	background:#FFF url(../images/my/mycollection.png) no-repeat 1rem center;
	background-size:2.2rem 2.2rem;
}
#my-content ul .myfind{
	margin-top:2rem;
	background:#FFF url(../images/my/myfind.png) no-repeat 1rem center;
	background-size:2.4rem;
}
#my-content ul .myadopt{
	background:#FFF url(../images/my/myadopt.png) no-repeat 1rem center;
	background-size:2.4rem 2.4rem;
}
#my-content ul .myclues{
	background:#FFF url(../images/my/myclues.png) no-repeat 1rem center;
	background-size:2.4rem 2.4rem;
}
#my-content ul .contactus{
	background:#FFF url(../images/my/contactus.png) no-repeat 1rem center;
	background-size:2.4rem;
}
/* End my-content */
/* Start personal-data */
#personal-data{
	margin-top:3.85rem;
	margin-bottom:5rem;
	width:100%;
}
#personal-data>ul>li{
	width:100%;
	height:5.3rem;
	background:#FFF;
	border-bottom:1px solid #eceef0;
	line-height:5.3rem;
	font-size:1.6rem;
	color:#000;
	text-indent:1.7rem;
}
#personal-data .personal-img{
	height:7.9rem;
	line-height:7.9rem;
	position:relative;
}
#personal-data .personal-img img{
	width:6rem;
	height:6rem;
	border-radius:6rem;
	position:absolute;
	right:3rem;
	top:50%;
	margin-top:-3rem;
}
#personal-data .personal-img a{
	width:100%;
	height:7.9rem;
}
#personal-data>ul>li a{
	display:block;
	width:100%;
	height:5.3rem;
	color:#000;
	background:url(../images/my/enter_arrow.png) no-repeat 98% center;
	background-size:0.7rem;
}
#personal-data li>a>span{
	float:right;
	margin-right:1.7rem;
	color:#AAA;
}
/* End personal-data */
/* Start my-pet-list */
header #add-pet{
	position:absolute;
	right:1rem;
	top:0;
	font-size:1.8rem;
}
#my-pet-list{
	margin-top:3.85rem;
	margin-bottom:5rem;
	width:100%;
}
#my-pet-list ul li{
	width:100%;
	height:6.3rem;
	background:#FFF;
	border-bottom:1px solid #eceef0;
}
#my-pet-list ul li>a{
	width:100%;
	height:6.3rem;
	display:block;
	background:url(../images/my/enter_arrow.png) no-repeat 98% center;
	background-size:0.7rem;
}
#my-pet-list li .my-pet-thumb{
	width:5.1rem;
	height:5.1rem;
	border-radius:5.1rem;
	margin-top:0.6rem;
	margin-left:1.7rem;
	float:left;
}
#my-pet-list li .about-pet{
	float:left;
	height:3.1rem;
	line-height:3.1rem;
	/*background:red;*/
	margin-left:1rem;
}
#my-pet-list li .about-pet .my-pet-name{
	font-size:1.9rem;
	color:#000;
	float:left;
	font-weight:normal;
}
#my-pet-list li .about-pet .my-pet-male,#my-pet-list li .about-pet .my-pet-female{
	display:block;
	float:left;
	width:1.5rem;
	height:3.1rem;
	margin-left:1rem;
}
#my-pet-list li .about-pet .my-pet-male{
	background:url(../images/my/mypetmale.png) no-repeat center center;
	background-size:1.5rem 1.5rem;
}
#my-pet-list li .about-pet .my-pet-female{
	background:url(../images/my/mypetfemale.png) no-repeat center center;
	background-size:1.5rem 1.5rem;
}
#my-pet-list li .about-pet .my-pet-type{
	display:block;
	float:left;
	margin-left:1rem;
	width:5.3rem;
	height:3.1rem;
	line-height:3.1rem;
	overflow:hidden;
	background:url(../images/my/type.jpg) no-repeat center center;
	background-size:5.3rem  1.9rem;
	text-align:center;
	color:#eb6100;
	font-size:1.3rem;
}
#my-pet-list li .about-pet .my-pet-age{
	clear:both;
	height:3.1rem;
	/*background:yellow;*/
	margin:0;
	padding:0;
	font-size:1.3rem;
}
/* End my-pet-list */
/* Start contact-us */
#contact-us{
	margin-top:4rem;
	margin-bottom:5rem;
}
#contact-us ul{
	padding:2rem 1.3rem 0;
}
#contact-us>ul>li{
	margin:0 0 1rem 0;
	background:#FFF;
	height:9rem;
	padding:1rem;
}
#contact-us>ul>li h2{
	font-size:1.8rem;
}
#contact-us>ul>li .contact-time{
	font-size:1.5rem;
	color:#676767;
}
#contact-us>ul>li .contact-tel{
	font-size:1.5rem;
	letter-spacing:1px;
	text-decoration:underline;
}
/* End contact-us */
/* Start my-collection */
#my-collection{
	margin-top:3.85rem;
	margin-bottom:5rem;
}
#my-collection ul{

}
#my-collection ul li.my-collection-item{
	box-sizing:border-box;
	height:10.5rem;
	overflow:hidden;
	border-bottom:1px solid #eceef0;
	background:#FFF;
}
#my-collection li.my-collection-item>a{
	width:100%;
	height:10.5rem;
	display:block;
	/*background:red;*/
	padding:1.1rem;
}
#my-collection .my-collection-item>a .my-colletion-img{
	width:7.4rem;
	height:6.8rem;
	float:left;
}
#my-collection .my-collection-item>a #my-colletion-desc{
	width:65%;
	height:6.8rem;
	overflow:hidden;
	padding-left:1em;
	float:left;
	line-height:1.6rem;
}
#my-collection .my-collection-item>a .my-colletion-title{
	font-size:1.6rem;
	color:#989898;
	width:95%;
	height:1.7rem;
	line-height:1.7rem;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
#my-collection .my-collection-item>a .my-colletion-desc{
	height:3.3rem;
	font-size:1.5rem;
	color:#989898;
	overflow:hidden;
}
#my-collection .my-collection-item .my-colletion-pubdate{
	width:4rem;
	height:1rem;
	line-height:1rem;
	text-align:center;
	float:right;
	margin-right:2rem;
	margin-top:5px;
	background:url(../images/my/mycollectiontime.png) no-repeat left center;
	background-size:1rem 1rem;
	padding-left:1.3rem;
	font-size:1.2rem;
}
/* End my-collection */