@charset "utf-8";
/* reset */
ul{list-style:none;}
/* E reset */
/* start header */
#header{
	width:100%;
	height:3.85rem;
	line-height:3.85rem;
	font-size:2.4rem;
	text-align:center;
	background:#2ecc71;
	color:#FFF;
	position:fixed;
	top:0;
	left:0;
	z-index:9999;
}
#header #search{
	width:3.85rem;
	height:3.85rem;
	background:url(../images/search.png) no-repeat center center;
	background-size:55%;
	position:fixed;
	top:0;
	right:0.5rem;
}
/* end header */
/* start footer */
#footer{
	width:100%;
	height:4.7rem;
	background:#FFF;
	border-top:1px solid #DDD;
	position:fixed;
	bottom:0;
	left:0;
	overflow:hidden;
	z-index:9999;
}
#footer a{
	width:20%;
	height:4.7rem;
	display:block;
	float:left;
	text-align:center;
	text-decoration:none;
}
#footer span{
	width:2.5rem;
	height:2.5rem;
	display:block;
	text-align:center;
	margin:0.3rem auto 0;
}
#footer p{
	color:#666;
	font-size:1.2rem;
	margin-top:0.5rem 0 0 0;
	padding:0;
	line-height:0;
}
#footer span.hover+p{
	color:#2ecc71;
}
#footer .home span,#footer .community span,#footer .service span,#footer .message span,#footer .my span{
	background:url(../images/xunchongIcon.png) no-repeat center center;
	background-size:2.5rem;
}
#footer .home span.hover{
	background:url(../images/xunchongIconHover.png) no-repeat center center;
	background-size:2.5rem;
}
#footer .community span{
	background:url(../images/communityIcon.png) no-repeat center center;
	background-size:2.5rem;
}
#footer .community span.hover{
	background:url(../images/communityIconHover.png) no-repeat center center;
	background-size:2.5rem;
}
#footer .service span{
	background:url(../images/serviceIcon.png) no-repeat center center;
	background-size:2.5rem;
}
#footer .service span.hover{
	background:url(../images/serviceIconHover.png) no-repeat center center;
	background-size:2.5rem;
}
#footer .message span{
	background:url(../images/messageIcon.png) no-repeat center center;
	background-size:2.5rem;
}
#footer .message span.hover{
	background:url(../images/messageIconHover.png) no-repeat center center;
	background-size:2.5rem;
}
#footer .my span{
	background:url(../images/myIcon.png) no-repeat center center;
	background-size:2.5rem;
}
#footer .my span.hover{
	background:url(../images/myIconHover.png) no-repeat center center;
	background-size:2.5rem;
}
/* end footer */
/* start clue-adopt-retrieve */
#clue-adopt-retrieve{
	margin-top:4.2rem;
	margin-bottom:4.7rem;
	height:auto;
}
#clue-adopt-retrieve a{
	position:relative;
	display:block;
	width:83%;
	height:auto;
	text-align:center;
	margin:1rem auto 0;
	color:#FFF;
	font-weight:bold;
	outline:none;
	border:0;
	line-height:0;
}
#clue-adopt-retrieve img{
	width:100%;
	height:auto;
	border-radius:2rem;
}
#clue-adopt-retrieve a>div{
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-4rem;
	margin-top:-3rem;
}
#clue-adopt-retrieve h2{
	font-size:2.4rem;
	line-height:3rem;
	letter-spacing:0.2rem;
}
#clue-adopt-retrieve #clue div{
	margin-left:-6.5rem;
	margin-top:-3rem;
}
#clue-adopt-retrieve h3{
	font-size:1.5rem;
	line-height:3rem;
}
/* end clue-adopt-retrieve */
/* start wandering-clues */
#wandering-clues{
	margin-top:4.2rem;
	margin-bottom:4.7rem;
}
#wandering-clues ul{
	padding:0 1.1rem;
	margin:1rem 0 0 0;
}
#wandering-clues ul li.item{
	margin:1rem 0;
	background:#FFF;
	border-bottom:1px solid #CCC;
}
#wandering-clues .item .thumb{
	width:4.7rem;
	height:4.7rem;
	display:inline-block;
	float:left;
}
#wandering-clues .item .thumb img{
	border-radius:4.7rem;
	text-align:center;
	border:1px solid #CCC;
	padding:0.1rem;
}
#wandering-clues .item .title{
	display:inline-block;
	padding:0 0 0 1.2rem;
	line-height:2.6rem;
}
#wandering-clues .item .title h2{
	font-size:1.6rem;
	color:#3e3e3e;
}
#wandering-clues .item .title p{
	font-size:1.3rem;
	color:#adaead;
	margin:0;
}
#wandering-clues .item .description{
	clear:both;
	height:auto;
	font-size:1.4rem;
	line-height:2rem;
	padding:0;
	margin:0.8rem auto;
}
#wandering-clues .item .pic{
	width:100%;
	height:auto;
	margin:;
	clear:both;
}
#wandering-clues .item .pic img{
	float:left;
	width:28%;
	height:28%;
	border:1px solid #CCC;
	margin:0 0.7rem 0 0;
	padding:0.2rem;
	border-radius:0.5rem;
	box-shadow:0 0 0.2rem rgba(0,0,0,.4);
}
#wandering-clues .item .spread{
	width:100%;
	height:3.8rem;
	background:url(../images/spread.png) left 0.5rem no-repeat;
	background-size:2.2rem;
	text-indent:2.6rem;
	line-height:3.8rem;
	clear:both;
	font-size:1.4rem;
	color:#1d953f;
}
/* end wandering-clues */
/* start release */
#release{
	width:4.1rem;
	height:4.1rem;
	position:fixed;
	left:50%;
	bottom:5rem;
	margin-left:-2.05rem;
	background:url(../images/release.png) no-repeat left center;
	background-size:100%;
	border-radius:4.1rem;
	box-shadow:0 0 1rem rgba(0,0,0,.4);
}
/* end release */